# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: origami

      # mirror dev layout: put dependency in a parallel subdirectory
      - name: Checkout vim
        uses: actions/checkout@v5
        with:
          repository: dariusf/codemirror-vim
          path: codemirror-vim
      - name: Install dependencies of vim
        run: |
          (cd codemirror-vim && yarn && yarn link)

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          # cache: "npm"
          # cache-dependency-path: origami/package-lock.json

      - name: Install dependencies
        working-directory: ./origami
        run: |
          yarn link @replit/codemirror-vim
          yarn
          yarn run build

      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload dist folder
          path: "./origami/dist"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
